[sites]
# Replace Name and IP (or fqdn)
NAME1 = 0.0.0.0
NAME2 = 0.0.0.0
NAME2 = 0.0.0.0

[email]
# Replace Email to/from and subject
from = foo@notarealemailaddress.local
to = bar@notarealemailaddress.local
subject = Emergency Scary Message
advice = Follow up suggestions, contact info etc. To use multiple
  for this message, indent 2 spaces. So long as you keep indenting
  this message will keep going.